
.modal {
  max-width: 1800px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 999;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}


.modal__content {
  padding: 20px;
  color: black;
  border-radius: 10px;
  background-color: #C8A2C8;
  width: 410px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);

}


