.title{
  color: #551A8B;
}
.title:hover{
  color: #C8A2C8;
}
.conversion{
  background-color: #C8A2C8;
}
.form{
  background-color: #C8A2C8;
  color: black;
  font-size: 18px;

  input{
    background-color: #C8A2C8;
    margin: 0 10px;
  }
  div{
    background-color: #C8A2C8;
    margin: 10px 0;
  }
  select{
    background-color: #C8A2C8;
    margin: 10px 10px;
  }
  option{
    background-color: #C8A2C8;
    margin: 10px 0;
  }
}